@use '/src/shared/styles/colors.scss' as *;


.wrapper {
  position: sticky;
  top: 0;
  left: 0;

  
  height: 60px;

  background-color: $accent-strong;
  z-index: 100;
}

.header {
  height: inherit;

  margin: 0 18px;
  border-bottom: 1px solid $compl-weak;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-content-borders {
  box-sizing: border-box;
  height: 22px;
  
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $compl-weak;
}

.corner {
  position: absolute;
  top: 46px;

  height: 36px;
  width: 36px;

  overflow: hidden;
  z-index: 1;

  background-color: $accent-strong;
}

.corner-left {
  left: -12px;
}

.corner-right {
  right: -12px;
}

.border {
  position: absolute;
  top: 14px;
  
  height: 48px;
  width: 48px;

  border: 1px solid $compl-weak;
  border-radius: 24px;

  background-color: $compl-strong;
}

.border-left {
  left: 12px;
}

.border-right {
  right: 12px;
}